@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Light;
    src: url('../fonts/Ubuntu-Light.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand{
    text-transform: uppercase;
}